:root {
    /* Background Colors */
    --dark-bg: #1F2937;

    /* Hover */
    --hover-color: #3882F6;
    --hover-color-2: #f0b429;

    /* text */
    --main-text: #F9FAF8;
    --subheading-color: #f0b429;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

html,
body {
    height: 100%;
    overflow: hidden;
    /* no scrolling */
}

/* forec reset img */
img {
    display: block;
    /* removes inline gap below image */
    max-width: 100%;
    /* never overflows its container */
    height: auto;
    /* keeps aspect ratio */
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--dark-bg);
    color: var(--main-text);
    font-family: 'Times New Roman', Times, serif;

}

/* Header */
.signature-header {
    /* header sits at the top, takes only what it needs */
    flex-shrink: 0;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    /* border-bottom: 0.5px solid white; */
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);

    & nav a {
        color: var(--main-text);
        text-decoration: none;
    }

    & nav a:hover {
        color: var(--hover-color);
    }
}


/* Main */
main {
    flex: 1;
    overflow: hidden;
    padding: 1rem 2rem;

    & .article-container {
        display: flex;
        gap: 2rem;
        height: 100%;
    }

    /* LEFT SIDE */
    & .article-left-content {
        /* outline: 1px solid white; */
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        overflow: hidden;

        & .title {
            text-align: center;
            font-size: 2rem;
        }

        & .img-container {
            /* outline: 1px solid white; */
            display: flex;
            flex-direction: column;
            align-items: center;

            & img {
                width: 18.75rem;
                height: 18.75rem;
                /* fills space without stretching */
                border-radius: 0.625rem;
                object-fit: cover;
            }

            & figcaption {
                color: var(--main-text);
                font-size: 0.75rem;
                opacity: 0.6;
                margin-top: 0.4rem;
            }
        }

        & .img-description {
            & h2 {
                font-size: 1.5rem;
                margin-bottom: 0.3rem;
                color: var(--subheading-color);
                text-align: center;
            }

            & p {
                text-align: start;
                font-size: 1rem;
                line-height: 1.5;
                opacity: 0.85;
            }
        }
    }

    /* RIGHT SIDE */
    & .article-right-content {
        padding: 0 1rem;
        /* outline: 1px solid white; */
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        overflow: hidden;

        & .sub-title {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
            color: var(--subheading-color);
        }

        & .ingredients ul,
        & .steps ol {
            padding-left: 2rem;
            font-size: 1rem;
            line-height: 1.5;
        }

        /* Nutrition table */
        & .nutrition-table dl {
            /* outline: 1px solid white; */
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0.5rem 1rem;
            font-size: 1rem;
            padding: 1rem;

            & dt {
                /* outline: 1px solid white; */
                font-weight: bold;
            }

            & dd {
                /* outline: 1px solid white; */
                opacity: 0.7;
            }
        }
    }
}

/* Footer */
.footer {
    /* footer sits at the bottom, takes only what it needs */
    flex-shrink: 0;
    padding: 1rem 0;
    border-top: 0.5px solid white;

    & .footer-content {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: var(--main-text);
    }

    & .dev-credit:hover {
        color: var(--hover-color-2);
    }
}